In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
Food_production = pd.read_csv('Africa Food Production (2004 - 2013).csv')
Food_production.head()

   Country                Item  Year  Value
0  Algeria  Wheat and products  2004   2731
1  Algeria  Wheat and products  2005   2415
2  Algeria  Wheat and products  2006   2688
3  Algeria  Wheat and products  2007   2319
4  Algeria  Wheat and products  2008   1111

In [4]:
Food_production.describe()

               Year         Value
count  23110.000000  23110.000000
mean    2008.498269    327.785201
std        2.871740   1607.940343
min     2004.000000      0.000000
25%     2006.000000      3.000000
50%     2008.000000     18.000000
75%     2011.000000    108.000000
max     2013.000000  54000.000000

In [5]:
Food_Country = Food_production.groupby(['Country', 'Year']).sum()
Food_Country.head(10)

              Value
Country Year
Algeria 2004  15536
        2005  15667
        2006  16417
        2007  14763
        2008  13841
        2009  19820
        2010  20263
        2011  21778
        2012  24206
        2013  26359

In [6]:
Country_group_p = Food_production.groupby(['Country'])
Country_group_p['Value'].describe().sort_values(by='max', ascending=False)

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Nigeria,610.0,2668.901639,7367.238559,0.0,82.00,425.0,1949.25,54000.0
South Africa,750.0,772.789333,2523.373788,0.0,11.00,56.5,460.00,21265.0
Egypt,700.0,1253.568571,2789.860428,0.0,18.00,108.0,845.50,17014.0
Angola,540.0,362.035185,1603.100582,0.0,4.00,22.0,103.00,16412.0
Ghana,580.0,508.627586,1778.998859,0.0,12.00,61.5,206.00,15990.0
Mozambique,620.0,254.167742,1014.112431,0.0,8.00,25.0,104.25,10094.0
Uganda,560.0,497.180357,1199.717299,0.0,15.00,50.5,264.25,9686.0
Sudan,540.0,558.488889,1407.710213,0.0,14.00,114.0,405.50,7542.0
Morocco,770.0,353.014286,842.107917,0.0,3.00,27.0,221.75,6934.0
Ethiopia,600.0,584.488333,1154.826265,0.0,18.00,90.5,363.00,6674.0
United Republic of Tanzania,790.0,421.268354,948.206828,0.0,8.00,38.0,303.75,6158.0
Cote d'Ivoire,640.0,285.134375,788.336974,0.0,7.00,33.5,160.00,5945.0
Kenya,750.0,342.496000,916.050808,0.0,4.00,25.0,159.25,5900.0
Swaziland,420.0,149.202381,778.604255,0.0,0.00,2.0,17.00,5450.0
Mauritius,460.0,112.576087,658.560287,0.0,0.00,1.0,5.25,5280.0
Algeria,580.0,325.258621,746.119621,0.0,1.00,14.0,209.75,4928.0
Malawi,480.0,320.243750,864.250885,0.0,4.00,30.0,151.00,4814.0
Cameroon,650.0,304.107692,628.245740,0.0,7.00,53.0,231.75,4596.0
Zimbabwe,640.0,114.556250,434.469957,0.0,3.00,15.0,60.00,4121.0
Zambia,480.0,172.293750,535.111948,0.0,3.00,23.0,81.00,4000.0
Niger,430.0,201.879070,525.849229,0.0,6.00,20.5,112.50,3862.0
Sierra Leone,500.0,95.474000,383.956496,0.0,3.00,11.0,44.25,3810.0
Benin,590.0,149.274576,535.228615,0.0,4.00,15.0,53.00,3788.0
Madagascar,690.0,192.856522,587.287399,0.0,4.00,10.0,70.00,3621.0
Burkina Faso,430.0,232.858140,550.321606,0.0,7.25,39.5,135.25,3337.0
Rwanda,460.0,206.900000,551.507282,0.0,4.00,17.0,102.25,3292.0
Tunisia,610.0,151.988525,340.200445,0.0,2.00,14.5,103.50,1987.0
Mali,480.0,192.275000,360.821516,0.0,8.00,41.0,161.00,1772.0
Guinea,500.0,133.696000,236.544292,0.0,8.00,34.0,176.50,1370.0
Congo,500.0,51.582000,178.518944,0.0,2.00,5.0,20.00,1250.0
Chad,390.0,115.584615,167.871085,0.0,17.25,40.0,110.75,1172.0
Togo,560.0,57.419643,162.836268,0.0,1.00,9.0,24.00,999.0
Senegal,520.0,95.026923,173.813210,0.0,4.00,22.0,101.25,921.0
Central African Republic,450.0,55.380000,109.224723,0.0,4.25,17.5,66.75,706.0
Liberia,420.0,34.897619,90.009130,0.0,2.00,5.0,18.00,533.0
Mauritania,380.0,26.418421,65.798855,0.0,1.00,5.0,20.00,410.0
Namibia,430.0,33.016279,72.442001,0.0,0.00,5.0,19.00,360.0
Gabon,400.0,33.915000,72.503722,0.0,1.00,3.0,20.25,325.0
Guinea-Bissau,440.0,16.581818,27.910002,0.0,2.00,5.0,22.25,200.0
Gambia,360.0,13.052778,25.038689,0.0,1.00,3.0,12.00,158.0
Lesotho,230.0,16.456522,25.791325,0.0,1.00,6.0,20.00,128.0
Botswana,340.0,14.141176,26.206871,0.0,0.00,3.0,13.50,120.0
Sao Tome and Principe,290.0,3.972414,8.984373,0.0,0.00,1.0,3.00,54.0
Djibouti,220.0,3.027273,6.774191,0.0,0.00,1.0,2.00,36.0
Cabo Verde,330.0,5.024242,6.994093,0.0,0.00,2.0,6.75,30.0

In [7]:
Production_yearly_value = pd.pivot_table(Food_production, index = 'Country', columns = 'Year', values = 'Value')
Production_yearly_value

Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,
Algeria,267.862069,270.120690,283.051724,254.534483,238.637931,341.724138,349.362069,375.482759,417.344828,454.465517
Angola,241.259259,255.759259,264.148148,296.759259,320.148148,411.925926,440.833333,475.407407,379.722222,534.388889
Benin,134.966102,131.593220,120.508475,130.152542,147.847458,156.525424,155.932203,165.000000,166.050847,184.169492
Botswana,13.558824,13.529412,13.352941,12.911765,13.823529,14.235294,14.794118,15.852941,14.588235,14.764706
Burkina Faso,193.558140,218.418605,218.441860,196.906977,241.232558,223.418605,258.651163,231.488372,270.558140,275.906977
Cabo Verde,4.484848,4.727273,4.787879,4.757576,5.212121,4.787879,4.515152,5.484848,5.666667,5.818182
Cameroon,211.369231,246.661538,260.953846,271.646154,283.984615,318.907692,343.230769,353.292308,369.907692,381.123077
Central African Republic,49.822222,50.955556,51.755556,53.911111,55.422222,57.088889,57.822222,60.044444,61.355556,55.622222
Chad,93.846154,111.794872,113.410256,108.794872,111.076923,115.794872,118.794872,104.358974,145.846154,132.128205
Congo,44.820000,46.360000,47.300000,48.760000,50.600000,53.860000,54.140000,54.900000,55.720000,59.360000
Cote d'Ivoire,260.546875,267.406250,275.937500,274.531250,289.000000,271.109375,286.921875,295.593750,311.234375,319.062500
Djibouti,2.500000,2.818182,2.545455,2.863636,2.818182,3.090909,3.409091,3.272727,3.500000,3.454545
Egypt,1085.557143,1148.885714,1188.442857,1240.400000,1278.414286,1291.071429,1263.571429,1296.671429,1373.414286,1369.257143
Ethiopia,437.433333,492.116667,501.950000,498.183333,531.333333,575.133333,645.116667,659.550000,735.700000,768.366667
Gabon,30.275000,31.150000,31.575000,32.225000,32.700000,34.675000,35.600000,36.075000,36.850000,38.025000
Gambia,13.138889,12.222222,12.722222,10.000000,13.111111,15.250000,17.055556,11.416667,12.916667,12.694444
Ghana,414.482759,421.517241,431.965517,435.965517,487.758621,528.396552,554.137931,580.172414,601.034483,630.844828
Guinea,117.820000,121.980000,123.320000,127.860000,130.240000,132.120000,138.080000,141.680000,149.160000,154.700000
Guinea-Bissau,14.477273,15.977273,16.022727,14.863636,16.477273,15.909091,16.886364,18.340909,17.886364,18.977273
Kenya,275.520000,316.600000,328.746667,325.773333,332.373333,347.320000,373.213333,354.733333,384.680000,386.000000
Lesotho,16.130435,16.652174,16.652174,14.956522,15.086957,14.739130,19.608696,17.260870,15.304348,18.173913
Liberia,32.904762,34.357143,32.333333,34.428571,35.500000,34.690476,35.476190,36.547619,36.238095,36.500000
Madagascar,150.144928,177.217391,182.724638,184.347826,185.130435,201.855072,206.014493,213.550725,222.362319,205.217391
Malawi,227.437500,203.875000,272.458333,310.583333,310.625000,347.437500,351.395833,366.020833,397.375000,415.229167
Mali,130.729167,150.687500,152.104167,171.854167,184.479167,226.104167,222.312500,224.437500,239.291667,220.750000
Mauritania,23.842105,26.736842,23.026316,24.026316,23.921053,25.078947,29.210526,26.947368,31.105263,30.289474
Mauritius,132.195652,124.347826,118.934783,106.326087,113.043478,116.717391,110.000000,106.760870,100.217391,97.217391
Morocco,353.818182,296.025974,371.350649,271.025974,320.506494,394.207792,371.129870,402.311688,340.727273,409.038961
Mozambique,207.532258,183.725806,204.274194,203.870968,203.967742,227.532258,316.306452,338.322581,321.596774,334.548387
Namibia,33.046512,33.348837,33.674419,30.953488,31.046512,31.604651,33.069767,33.883721,35.395349,34.139535
Niger,136.093023,166.744186,182.674419,189.581395,228.372093,179.418605,245.953488,207.511628,249.279070,233.162791
Nigeria,2456.672131,2592.606557,2770.278689,2578.245902,2753.032787,2315.901639,2601.786885,2744.311475,2931.409836,2944.770492
Rwanda,149.195652,160.217391,160.978261,158.586957,181.978261,213.869565,234.347826,256.021739,272.239130,281.565217
Sao Tome and Principe,3.896552,4.034483,4.034483,3.896552,3.931034,4.000000,3.931034,3.689655,3.827586,4.482759
Senegal,84.000000,91.480769,77.500000,77.384615,115.134615,109.403846,110.326923,88.711538,100.711538,95.615385
Sierra Leone,71.840000,60.800000,73.140000,74.620000,79.820000,101.680000,115.660000,121.660000,124.560000,130.960000
South Africa,732.653333,794.360000,720.320000,717.266667,815.493333,794.533333,758.173333,757.173333,794.413333,843.506667
Sudan,520.836364,570.345455,560.618182,576.163636,558.745455,577.781818,519.418182,561.254545,527.460000,614.540000
Swaziland,141.666667,152.547619,145.809524,145.142857,146.404762,145.904762,146.595238,148.119048,158.809524,161.023810
Togo,49.375000,48.750000,51.928571,52.464286,55.089286,60.517857,61.142857,64.375000,68.714286,61.839286
Tunisia,139.393443,144.180328,142.426230,148.393443,144.950820,159.524590,145.147541,160.491803,172.278689,163.098361
Uganda,568.196429,565.089286,560.982143,569.482143,419.482143,438.821429,461.607143,459.000000,459.125000,470.017857
United Republic of Tanzania,346.696203,345.936709,385.721519,388.265823,390.835443,402.886076,455.772152,486.379747,493.113924,517.075949
Zambia,131.458333,126.562500,143.312500,140.479167,132.979167,181.145833,210.187500,215.229167,222.291667,219.291667
Zimbabwe,140.375000,113.109375,128.515625,106.593750,91.828125,89.906250,105.890625,117.984375,127.703125,123.656250

In [8]:
Food_supply = pd.read_csv('Africa Food Supply (2004 - 2013).csv')
Food_supply.head()

   Country  Year  Value
0  Algeria  2004   2987
1  Algeria  2005   2958
2  Algeria  2006   3047
3  Algeria  2007   3041
4  Algeria  2008   3048

In [9]:
Food_supply.describe()

              Year        Value
count   450.000000   450.000000
mean   2008.500000  2469.775556
std       2.875478   379.140143
min    2004.000000  1781.000000
25%    2006.000000  2174.000000
50%    2008.500000  2376.000000
75%    2011.000000  2681.750000
max    2013.000000  3561.000000

In [10]:
consumption_Country = Food_supply.groupby(['Country', 'Year']).sum()
consumption_Country.head(10)

              Value
Country Year
Algeria 2004   2987
        2005   2958
        2006   3047
        2007   3041
        2008   3048
        2009   3110
        2010   3142
        2011   3217
        2012   3272
        2013   3296

In [11]:
Country_group_s = Food_supply.groupby(['Country'])
Country_group_s['Value'].describe().sort_values(by='max', ascending=False)

,count,mean,std,min,25%,50%,75%,max
Country,,,,,,,,
Egypt,10.0,3458.0,83.074264,3309.0,3402.00,3467.5,3518.25,3561.0
Morocco,10.0,3296.7,59.282844,3206.0,3265.00,3282.0,3335.25,3403.0
Tunisia,10.0,3305.5,55.618242,3220.0,3257.25,3314.0,3345.50,3390.0
Algeria,10.0,3111.8,117.420233,2958.0,3042.50,3079.0,3198.25,3296.0
Mauritius,10.0,3054.3,50.933617,3001.0,3016.00,3040.5,3073.25,3151.0
Ghana,10.0,2918.0,140.329770,2682.0,2808.25,2976.0,3028.00,3077.0
South Africa,10.0,2962.9,40.123282,2920.0,2929.25,2946.0,2999.50,3022.0
Mali,10.0,2750.2,120.955272,2540.0,2671.00,2795.0,2831.75,2890.0
Mauritania,10.0,2744.3,103.430116,2599.0,2653.25,2767.0,2803.75,2876.0
Gabon,10.0,2729.9,54.345500,2653.0,2702.00,2715.5,2762.00,2830.0
Cote d'Ivoire,10.0,2766.6,27.661445,2727.0,2738.25,2781.5,2786.25,2799.0
Nigeria,10.0,2698.8,23.980548,2655.0,2687.25,2705.5,2716.50,2725.0
Burkina Faso,10.0,2607.2,88.219172,2463.0,2549.25,2613.5,2676.75,2720.0
Gambia,10.0,2569.5,103.982103,2397.0,2482.50,2605.0,2646.00,2692.0
Cameroon,10.0,2460.3,138.728392,2246.0,2360.00,2469.0,2557.25,2671.0
Benin,10.0,2537.8,67.994771,2435.0,2476.00,2559.5,2589.75,2619.0
Cabo Verde,10.0,2551.4,33.200402,2513.0,2523.25,2549.0,2572.00,2609.0
Djibouti,10.0,2416.5,140.844477,2136.0,2339.00,2456.5,2494.75,2607.0
Lesotho,10.0,2558.8,18.498048,2529.0,2547.75,2559.0,2568.50,2595.0
Niger,10.0,2502.4,47.192749,2442.0,2455.00,2521.5,2533.75,2567.0
Guinea,10.0,2518.0,48.858071,2426.0,2503.50,2540.0,2549.00,2566.0
Sao Tome and Principe,10.0,2446.2,84.319235,2331.0,2376.00,2450.5,2512.50,2554.0
Angola,10.0,2255.6,151.032888,2030.0,2132.50,2274.0,2374.25,2473.0
Swaziland,10.0,2317.1,64.490223,2249.0,2283.25,2301.5,2328.00,2469.0
Senegal,10.0,2378.4,86.347103,2237.0,2318.00,2431.5,2442.00,2456.0
Togo,10.0,2333.9,71.444539,2238.0,2286.00,2328.0,2379.75,2454.0
Sierra Leone,10.0,2229.1,123.308511,2024.0,2164.75,2224.0,2320.00,2404.0
Malawi,10.0,2292.5,66.208845,2166.0,2275.00,2314.5,2332.00,2367.0
Uganda,10.0,2220.5,73.179004,2130.0,2177.25,2197.0,2260.00,2351.0
Guinea-Bissau,10.0,2296.3,32.721213,2253.0,2274.25,2292.5,2324.25,2346.0
Sudan,10.0,2323.8,25.999145,2271.0,2306.50,2333.5,2344.00,2346.0
Botswana,10.0,2226.3,66.337605,2150.0,2185.75,2198.5,2263.25,2342.0
Mozambique,10.0,2170.2,96.098098,2038.0,2090.00,2164.5,2254.75,2298.0
Rwanda,10.0,2130.9,102.089775,1969.0,2046.25,2148.5,2209.25,2270.0
Namibia,10.0,2160.2,77.668526,2055.0,2097.50,2158.0,2227.00,2268.0
Congo,10.0,2153.0,58.469365,2043.0,2136.75,2143.0,2178.25,2263.0
Liberia,10.0,2182.7,52.681538,2092.0,2148.75,2199.0,2221.25,2254.0
United Republic of Tanzania,10.0,2155.0,44.803274,2097.0,2132.25,2137.5,2198.00,2215.0
Kenya,10.0,2145.3,53.298009,2022.0,2122.50,2161.0,2168.75,2206.0
Zimbabwe,10.0,2120.9,58.762138,2025.0,2097.75,2112.5,2162.75,2200.0
Central African Republic,10.0,2071.9,90.529860,1879.0,2026.75,2103.0,2137.50,2164.0
Ethiopia,10.0,2029.2,82.592440,1882.0,1969.75,2035.0,2097.25,2131.0
Chad,10.0,2051.1,37.604521,2021.0,2026.25,2031.0,2060.75,2124.0
Madagascar,10.0,2060.8,31.625587,1980.0,2058.50,2063.0,2079.25,2096.0
Zambia,10.0,1870.1,50.253690,1781.0,1845.00,1875.5,1906.25,1930.0

In [12]:
Supply_yearly_value = pd.pivot_table(Food_supply, index = 'Country', columns = 'Year', values = 'Value')
Supply_yearly_value

Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,
Algeria,2987,2958,3047,3041,3048,3110,3142,3217,3272,3296
Angola,2030,2077,2119,2173,2245,2303,2345,2407,2384,2473
Benin,2461,2435,2450,2564,2521,2565,2555,2598,2610,2619
Botswana,2191,2198,2150,2166,2184,2199,2234,2273,2342,2326
Burkina Faso,2505,2463,2559,2546,2588,2639,2681,2664,2707,2720
Cabo Verde,2523,2517,2513,2574,2540,2558,2524,2566,2590,2609
Cameroon,2246,2311,2354,2378,2446,2492,2510,2573,2622,2671
Central African Republic,1989,2026,2029,2090,2133,2139,2164,2154,2116,1879
Chad,2026,2034,2022,2028,2027,2021,2057,2062,2124,2110
Congo,2263,2043,2143,2135,2110,2142,2143,2185,2158,2208
Cote d'Ivoire,2738,2787,2783,2792,2739,2727,2737,2784,2780,2799
Djibouti,2136,2265,2314,2414,2447,2466,2467,2504,2545,2607
Egypt,3309,3367,3389,3445,3490,3441,3507,3549,3561,3522
Ethiopia,1882,1978,1967,1957,2018,2052,2080,2103,2124,2131
Gabon,2676,2715,2716,2711,2653,2699,2732,2772,2795,2830
Gambia,2465,2442,2397,2535,2589,2621,2674,2692,2652,2628
Ghana,2682,2751,2824,2803,2950,3032,3077,3002,3043,3016
Guinea,2426,2443,2503,2505,2534,2546,2550,2546,2561,2566
Guinea-Bissau,2257,2273,2253,2293,2304,2278,2346,2336,2331,2292
Kenya,2022,2161,2161,2110,2106,2165,2160,2170,2192,2206
Lesotho,2541,2567,2595,2560,2558,2569,2572,2550,2547,2529
Liberia,2092,2160,2116,2145,2227,2231,2198,2254,2200,2204
Madagascar,1980,2060,2083,2096,2061,2065,2068,2085,2058,2052
Malawi,2166,2191,2269,2293,2318,2311,2329,2348,2333,2367
Mali,2540,2583,2654,2722,2777,2831,2813,2832,2860,2890
Mauritania,2599,2629,2603,2726,2772,2762,2797,2806,2873,2876
Mauritius,3023,3009,3022,3076,3001,3124,3151,3058,3014,3065
Morocco,3263,3206,3271,3251,3271,3293,3294,3349,3366,3403
Mozambique,2059,2038,2111,2083,2164,2165,2242,2259,2298,2283
Namibia,2268,2243,2230,2218,2120,2062,2055,2090,2145,2171
Niger,2453,2444,2442,2461,2520,2523,2533,2534,2567,2547
Nigeria,2655,2705,2725,2720,2723,2683,2706,2706,2665,2700
Rwanda,1969,2037,2044,2053,2101,2196,2198,2213,2270,2228
Sao Tome and Principe,2513,2546,2554,2511,2466,2435,2368,2331,2338,2400
Senegal,2248,2237,2310,2342,2439,2446,2435,2428,2443,2456
Sierra Leone,2024,2082,2155,2194,2197,2251,2275,2335,2374,2404
South Africa,2940,2952,2927,2920,2924,2936,2992,3002,3014,3022
Sudan,2271,2296,2331,2344,2344,2346,2323,2346,2301,2336
Swaziland,2469,2372,2325,2310,2257,2249,2284,2283,2293,2329
Togo,2246,2238,2283,2295,2316,2340,2370,2383,2414,2454
Tunisia,3248,3220,3273,3252,3302,3335,3326,3360,3390,3349
Uganda,2351,2327,2276,2212,2177,2194,2200,2178,2160,2130
United Republic of Tanzania,2098,2134,2141,2215,2132,2133,2097,2200,2192,2208
Zambia,1866,1873,1838,1781,1801,1878,1904,1907,1923,1930
Zimbabwe,2044,2025,2115,2109,2094,2147,2168,2200,2197,2110

In [15]:
Supply_yearly_value.sort_values(by=2004, ascending=False)

Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,
Egypt,3309,3367,3389,3445,3490,3441,3507,3549,3561,3522
Morocco,3263,3206,3271,3251,3271,3293,3294,3349,3366,3403
Tunisia,3248,3220,3273,3252,3302,3335,3326,3360,3390,3349
Mauritius,3023,3009,3022,3076,3001,3124,3151,3058,3014,3065
Algeria,2987,2958,3047,3041,3048,3110,3142,3217,3272,3296
South Africa,2940,2952,2927,2920,2924,2936,2992,3002,3014,3022
Cote d'Ivoire,2738,2787,2783,2792,2739,2727,2737,2784,2780,2799
Ghana,2682,2751,2824,2803,2950,3032,3077,3002,3043,3016
Gabon,2676,2715,2716,2711,2653,2699,2732,2772,2795,2830
Nigeria,2655,2705,2725,2720,2723,2683,2706,2706,2665,2700
Mauritania,2599,2629,2603,2726,2772,2762,2797,2806,2873,2876
Lesotho,2541,2567,2595,2560,2558,2569,2572,2550,2547,2529
Mali,2540,2583,2654,2722,2777,2831,2813,2832,2860,2890
Cabo Verde,2523,2517,2513,2574,2540,2558,2524,2566,2590,2609
Sao Tome and Principe,2513,2546,2554,2511,2466,2435,2368,2331,2338,2400
Burkina Faso,2505,2463,2559,2546,2588,2639,2681,2664,2707,2720
Swaziland,2469,2372,2325,2310,2257,2249,2284,2283,2293,2329
Gambia,2465,2442,2397,2535,2589,2621,2674,2692,2652,2628
Benin,2461,2435,2450,2564,2521,2565,2555,2598,2610,2619
Niger,2453,2444,2442,2461,2520,2523,2533,2534,2567,2547
Guinea,2426,2443,2503,2505,2534,2546,2550,2546,2561,2566
Uganda,2351,2327,2276,2212,2177,2194,2200,2178,2160,2130
Sudan,2271,2296,2331,2344,2344,2346,2323,2346,2301,2336
Namibia,2268,2243,2230,2218,2120,2062,2055,2090,2145,2171
Congo,2263,2043,2143,2135,2110,2142,2143,2185,2158,2208
Guinea-Bissau,2257,2273,2253,2293,2304,2278,2346,2336,2331,2292
Senegal,2248,2237,2310,2342,2439,2446,2435,2428,2443,2456
Togo,2246,2238,2283,2295,2316,2340,2370,2383,2414,2454
Cameroon,2246,2311,2354,2378,2446,2492,2510,2573,2622,2671
Botswana,2191,2198,2150,2166,2184,2199,2234,2273,2342,2326
Malawi,2166,2191,2269,2293,2318,2311,2329,2348,2333,2367
Djibouti,2136,2265,2314,2414,2447,2466,2467,2504,2545,2607
United Republic of Tanzania,2098,2134,2141,2215,2132,2133,2097,2200,2192,2208
Liberia,2092,2160,2116,2145,2227,2231,2198,2254,2200,2204
Mozambique,2059,2038,2111,2083,2164,2165,2242,2259,2298,2283
Zimbabwe,2044,2025,2115,2109,2094,2147,2168,2200,2197,2110
Angola,2030,2077,2119,2173,2245,2303,2345,2407,2384,2473
Chad,2026,2034,2022,2028,2027,2021,2057,2062,2124,2110
Sierra Leone,2024,2082,2155,2194,2197,2251,2275,2335,2374,2404
Kenya,2022,2161,2161,2110,2106,2165,2160,2170,2192,2206
Central African Republic,1989,2026,2029,2090,2133,2139,2164,2154,2116,1879
Madagascar,1980,2060,2083,2096,2061,2065,2068,2085,2058,2052
Rwanda,1969,2037,2044,2053,2101,2196,2198,2213,2270,2228
Ethiopia,1882,1978,1967,1957,2018,2052,2080,2103,2124,2131
Zambia,1866,1873,1838,1781,1801,1878,1904,1907,1923,1930

In [16]:
Supply_yearly_value.sort_values(by=2005, ascending=False)

Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,
Egypt,3309,3367,3389,3445,3490,3441,3507,3549,3561,3522
Tunisia,3248,3220,3273,3252,3302,3335,3326,3360,3390,3349
Morocco,3263,3206,3271,3251,3271,3293,3294,3349,3366,3403
Mauritius,3023,3009,3022,3076,3001,3124,3151,3058,3014,3065
Algeria,2987,2958,3047,3041,3048,3110,3142,3217,3272,3296
South Africa,2940,2952,2927,2920,2924,2936,2992,3002,3014,3022
Cote d'Ivoire,2738,2787,2783,2792,2739,2727,2737,2784,2780,2799
Ghana,2682,2751,2824,2803,2950,3032,3077,3002,3043,3016
Gabon,2676,2715,2716,2711,2653,2699,2732,2772,2795,2830
Nigeria,2655,2705,2725,2720,2723,2683,2706,2706,2665,2700
Mauritania,2599,2629,2603,2726,2772,2762,2797,2806,2873,2876
Mali,2540,2583,2654,2722,2777,2831,2813,2832,2860,2890
Lesotho,2541,2567,2595,2560,2558,2569,2572,2550,2547,2529
Sao Tome and Principe,2513,2546,2554,2511,2466,2435,2368,2331,2338,2400
Cabo Verde,2523,2517,2513,2574,2540,2558,2524,2566,2590,2609
Burkina Faso,2505,2463,2559,2546,2588,2639,2681,2664,2707,2720
Niger,2453,2444,2442,2461,2520,2523,2533,2534,2567,2547
Guinea,2426,2443,2503,2505,2534,2546,2550,2546,2561,2566
Gambia,2465,2442,2397,2535,2589,2621,2674,2692,2652,2628
Benin,2461,2435,2450,2564,2521,2565,2555,2598,2610,2619
Swaziland,2469,2372,2325,2310,2257,2249,2284,2283,2293,2329
Uganda,2351,2327,2276,2212,2177,2194,2200,2178,2160,2130
Cameroon,2246,2311,2354,2378,2446,2492,2510,2573,2622,2671
Sudan,2271,2296,2331,2344,2344,2346,2323,2346,2301,2336
Guinea-Bissau,2257,2273,2253,2293,2304,2278,2346,2336,2331,2292
Djibouti,2136,2265,2314,2414,2447,2466,2467,2504,2545,2607
Namibia,2268,2243,2230,2218,2120,2062,2055,2090,2145,2171
Togo,2246,2238,2283,2295,2316,2340,2370,2383,2414,2454
Senegal,2248,2237,2310,2342,2439,2446,2435,2428,2443,2456
Botswana,2191,2198,2150,2166,2184,2199,2234,2273,2342,2326
Malawi,2166,2191,2269,2293,2318,2311,2329,2348,2333,2367
Kenya,2022,2161,2161,2110,2106,2165,2160,2170,2192,2206
Liberia,2092,2160,2116,2145,2227,2231,2198,2254,2200,2204
United Republic of Tanzania,2098,2134,2141,2215,2132,2133,2097,2200,2192,2208
Sierra Leone,2024,2082,2155,2194,2197,2251,2275,2335,2374,2404
Angola,2030,2077,2119,2173,2245,2303,2345,2407,2384,2473
Madagascar,1980,2060,2083,2096,2061,2065,2068,2085,2058,2052
Congo,2263,2043,2143,2135,2110,2142,2143,2185,2158,2208
Mozambique,2059,2038,2111,2083,2164,2165,2242,2259,2298,2283
Rwanda,1969,2037,2044,2053,2101,2196,2198,2213,2270,2228
Chad,2026,2034,2022,2028,2027,2021,2057,2062,2124,2110
Central African Republic,1989,2026,2029,2090,2133,2139,2164,2154,2116,1879
Zimbabwe,2044,2025,2115,2109,2094,2147,2168,2200,2197,2110
Ethiopia,1882,1978,1967,1957,2018,2052,2080,2103,2124,2131
Zambia,1866,1873,1838,1781,1801,1878,1904,1907,1923,1930

In [17]:
Supply_yearly_value.sort_values(by=2006, ascending=False)

Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,
Egypt,3309,3367,3389,3445,3490,3441,3507,3549,3561,3522
Tunisia,3248,3220,3273,3252,3302,3335,3326,3360,3390,3349
Morocco,3263,3206,3271,3251,3271,3293,3294,3349,3366,3403
Algeria,2987,2958,3047,3041,3048,3110,3142,3217,3272,3296
Mauritius,3023,3009,3022,3076,3001,3124,3151,3058,3014,3065
South Africa,2940,2952,2927,2920,2924,2936,2992,3002,3014,3022
Ghana,2682,2751,2824,2803,2950,3032,3077,3002,3043,3016
Cote d'Ivoire,2738,2787,2783,2792,2739,2727,2737,2784,2780,2799
Nigeria,2655,2705,2725,2720,2723,2683,2706,2706,2665,2700
Gabon,2676,2715,2716,2711,2653,2699,2732,2772,2795,2830
Mali,2540,2583,2654,2722,2777,2831,2813,2832,2860,2890
Mauritania,2599,2629,2603,2726,2772,2762,2797,2806,2873,2876
Lesotho,2541,2567,2595,2560,2558,2569,2572,2550,2547,2529
Burkina Faso,2505,2463,2559,2546,2588,2639,2681,2664,2707,2720
Sao Tome and Principe,2513,2546,2554,2511,2466,2435,2368,2331,2338,2400
Cabo Verde,2523,2517,2513,2574,2540,2558,2524,2566,2590,2609
Guinea,2426,2443,2503,2505,2534,2546,2550,2546,2561,2566
Benin,2461,2435,2450,2564,2521,2565,2555,2598,2610,2619
Niger,2453,2444,2442,2461,2520,2523,2533,2534,2567,2547
Gambia,2465,2442,2397,2535,2589,2621,2674,2692,2652,2628
Cameroon,2246,2311,2354,2378,2446,2492,2510,2573,2622,2671
Sudan,2271,2296,2331,2344,2344,2346,2323,2346,2301,2336
Swaziland,2469,2372,2325,2310,2257,2249,2284,2283,2293,2329
Djibouti,2136,2265,2314,2414,2447,2466,2467,2504,2545,2607
Senegal,2248,2237,2310,2342,2439,2446,2435,2428,2443,2456
Togo,2246,2238,2283,2295,2316,2340,2370,2383,2414,2454
Uganda,2351,2327,2276,2212,2177,2194,2200,2178,2160,2130
Malawi,2166,2191,2269,2293,2318,2311,2329,2348,2333,2367
Guinea-Bissau,2257,2273,2253,2293,2304,2278,2346,2336,2331,2292
Namibia,2268,2243,2230,2218,2120,2062,2055,2090,2145,2171
Kenya,2022,2161,2161,2110,2106,2165,2160,2170,2192,2206
Sierra Leone,2024,2082,2155,2194,2197,2251,2275,2335,2374,2404
Botswana,2191,2198,2150,2166,2184,2199,2234,2273,2342,2326
Congo,2263,2043,2143,2135,2110,2142,2143,2185,2158,2208
United Republic of Tanzania,2098,2134,2141,2215,2132,2133,2097,2200,2192,2208
Angola,2030,2077,2119,2173,2245,2303,2345,2407,2384,2473
Liberia,2092,2160,2116,2145,2227,2231,2198,2254,2200,2204
Zimbabwe,2044,2025,2115,2109,2094,2147,2168,2200,2197,2110
Mozambique,2059,2038,2111,2083,2164,2165,2242,2259,2298,2283
Madagascar,1980,2060,2083,2096,2061,2065,2068,2085,2058,2052
Rwanda,1969,2037,2044,2053,2101,2196,2198,2213,2270,2228
Central African Republic,1989,2026,2029,2090,2133,2139,2164,2154,2116,1879
Chad,2026,2034,2022,2028,2027,2021,2057,2062,2124,2110
Ethiopia,1882,1978,1967,1957,2018,2052,2080,2103,2124,2131
Zambia,1866,1873,1838,1781,1801,1878,1904,1907,1923,1930

In [18]:
Oat_production = Food_production.loc[Food_production['Item']== 'Oats']
Oat_production

        Country  Item  Year  Value
40      Algeria  Oats  2004     89
41      Algeria  Oats  2005     78
42      Algeria  Oats  2006     89
43      Algeria  Oats  2007     92
44      Algeria  Oats  2008     27
...         ...   ...   ...    ...
22515  Zimbabwe  Oats  2009      1
22516  Zimbabwe  Oats  2010      1
22517  Zimbabwe  Oats  2011      1
22518  Zimbabwe  Oats  2012      1
22519  Zimbabwe  Oats  2013      1

[90 rows x 4 columns]

In [19]:
Oat_production_yearly = pd.pivot_table(Oat_production, index = 'Country', columns = 'Year', values = 'Value')
Oat_production_yearly

Year          2004  2005  2006  2007  2008  2009  2010  2011  2012  2013
Country
Algeria         89    78    89    92    27    96    88    67   110   113
Ethiopia        39    57    40    36    37    33    48    49    44    60
Ghana            0     0     0     0     0     0     0     0     0     0
Kenya            4     4     4     4     3     3     3     4     4     4
Lesotho          0     0     0     0     0     0     0     0     0     0
Morocco         17    16    17     6    16    25    37    96    56    46
South Africa    37    34    44    42    27    37    34    66    57    28
Tunisia          1     1     1     1     1     2     2     2     2     2
Zimbabwe         1     1     1     1     1     1     1     1     1     1

In [20]:
# The measure of rice production across various countries
Rice_production = Food_production.loc[Food_production['Item']== 'Rice (Milled Equivalent)']
Rice_production

        Country                      Item  Year  Value
10      Algeria  Rice (Milled Equivalent)  2004      0
11      Algeria  Rice (Milled Equivalent)  2005      0
12      Algeria  Rice (Milled Equivalent)  2006      0
13      Algeria  Rice (Milled Equivalent)  2007      0
14      Algeria  Rice (Milled Equivalent)  2008      0
...         ...                       ...   ...    ...
22485  Zimbabwe  Rice (Milled Equivalent)  2009      0
22486  Zimbabwe  Rice (Milled Equivalent)  2010      0
22487  Zimbabwe  Rice (Milled Equivalent)  2011      0
22488  Zimbabwe  Rice (Milled Equivalent)  2012      0
22489  Zimbabwe  Rice (Milled Equivalent)  2013      0

[380 rows x 4 columns]

In [21]:
Rice_production_yearly = pd.pivot_table(Rice_production, index = 'Country', columns = 'Year', values = 'Value')
Rice_production_yearly

Year,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013
Country,,,,,,,,,,
Algeria,0,0,0,0,0,0,0,0,0,0
Angola,9,6,3,3,6,10,12,15,14,25
Benin,43,52,47,50,70,75,83,146,146,138
Burkina Faso,50,62,76,46,130,142,181,161,213,204
Cameroon,33,39,43,46,48,90,102,116,121,129
Central African Republic,21,31,27,25,25,26,26,27,28,25
Chad,61,99,71,71,113,117,113,115,187,220
Congo,1,1,1,1,1,1,1,1,1,1
Cote d'Ivoire,455,470,478,404,454,459,805,582,1042,1290
Egypt,4237,4086,4506,4587,4838,3682,2888,3785,3943,3818
Ethiopia,8,7,7,7,48,69,60,59,81,123
Gabon,1,1,1,1,1,1,1,1,1,1
Gambia,22,12,21,8,26,53,67,34,36,46
Ghana,161,191,167,124,201,261,328,309,321,380
Guinea,806,849,894,935,1023,971,1076,1196,1280,1370
Guinea-Bissau,59,66,71,85,99,121,140,117,132,140
Kenya,33,42,43,32,15,28,57,74,82,98
Liberia,73,103,109,155,197,195,197,199,194,180
Madagascar,2021,2263,2326,2398,2611,3028,3160,2868,3035,2408
Malawi,33,28,61,75,77,91,73,79,74,83
Mali,479,631,703,722,1083,1301,1538,1162,1277,1475
Mauritania,57,48,47,55,55,36,90,105,123,135
Mauritius,0,0,0,0,0,0,0,0,1,0
Morocco,20,29,23,22,30,33,34,12,46,25
Mozambique,61,43,65,69,68,119,172,181,98,234
Niger,52,40,52,47,22,13,20,8,4,9
Nigeria,2224,2379,2696,2125,2787,2365,2983,3046,3224,3135
Rwanda,31,41,42,41,55,54,45,54,56,63
Senegal,135,186,127,129,272,335,403,271,313,291
Sierra Leone,362,492,709,392,454,593,685,753,761,837
South Africa,2,3,2,2,2,2,2,2,2,3
Sudan,24,13,17,15,20,15,16,17,16,17
Swaziland,0,0,0,0,0,0,0,0,0,0
Togo,46,49,51,50,57,81,73,75,107,64
Uganda,81,102,103,108,119,137,145,155,141,143
United Republic of Tanzania,706,779,805,895,948,890,1768,1500,1201,1464
Zambia,11,9,9,12,16,28,34,33,30,30
Zimbabwe,0,1,0,0,0,0,0,0,0,0